# SPDX-FileCopyrightText: 2026 Alex Brandt <alunduil@gmail.com>
# SPDX-License-Identifier: MIT

# GCP credentials
*.json
!*example*.json
!renovate.json
!.github/projects/*.json

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Secrets
*.secrets.*
.env
.env.*
!.env.example
secrets.auto.tfvars
